/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
pre {
  margin-bottom: 0 !important;
}
div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  font-family: $monospace;
  font-size: $type-size-7;
  line-height: 1.8;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $code-background-color-dark;
  box-shadow: $box-shadow;

  // &:before {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   padding: 0.5em;
  //   background-color: $lighter-gray;
  //   content: "\f121";
  //   font-family: "fontawesome" !important;
  //   line-height: 1;
  //   text-transform: none;
  //   speak: none;
  // }

  .highlight {
    margin: 0;
    padding: 1em;
  }
}

figure.highlight {
  padding-left: 1em;
  padding-right: 1em;
}

.highlight table {
  font-size: 1em;
  border: 0;

  td {
    padding: 5px;
    border: 0;

    /* line numbers*/
    &.gutter {
      padding-right: 1em;
      color: #ffff;
      text-align: center !important;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre { width: 100%; }

@import "highlight/rouge"
